<div class="px-5 flex-grow-1">
    <h1 class="text-center">Assessments</h1>
    <div>
        <div class="d-flex align-items-center mb-3">
            <div class="flex-fill">
                <!-- Search Form -->
                <form action="/assessments" method="get" class="d-flex w-50">
                    <!-- Correctly bind the searchQuery model attribute using Thymeleaf -->
                    <input type="text" class="form-control me-2" name="searchQuery" th:value="${searchQuery}" placeholder="Search by title" aria-label="Search">
                    <button class="btn btn-outline-secondary me-2" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
            <div>
                <a href="/assessments/print" class="btn btn-outline-secondary me-2" target="_blank">
                    <i class="bi bi-printer"></i> Print
                </a>
                <!-- Export Button -->
                <a href="/assessments/export" class="btn btn-outline-secondary me-2">
                    <i class="bi bi-file-earmark-excel"></i> Export
                </a>

                <!-- Import Button that triggers modal -->
                <button class="btn btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#importModal">
                    <i class="bi bi-upload"></i> Import
                </button>

                <a href="/assessments/create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Assessment
                </a>
            </div>
        </div>
        <div class="scrollable-table" style="overflow-x: hidden; width: 100%;">
            <div class="row" id="quizCards">
                <div th:each="assessment : ${assessments}" class="col-md-4">
                    <div class="card mb-4 shadow">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h5 class="card-title mb-0 fw-bold">
                                    <span th:text="${assessment.title}"></span>
                                    <span class="badge bg-light text-secondary ms-2 rounded-pill small px-2 py-1"
                                          style="font-size: 0.7rem; font-weight: 400;"
                                          th:text="${assessment.assessmentType.name}">
                            </span>
                                </h5>
                                <div class="btn-group gap-2">
                                    <a th:href="@{'/assessments/edit/' + ${assessment.id}}"
                                       class="btn btn-sm btn-outline-primary" title="Edit assessment">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a th:href="@{'/assessments/detail/' + ${assessment.id}}"
                                       class="btn btn-sm btn-outline-primary" title="Open">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>

                            <p class="card-text mb-1 text-muted small">
                                Course: <span th:text="${assessment.course.name}"></span>
                            </p>

                            <div class="row mb-2">
                                <div class="col-md-8 d-flex align-items-center mb-2">
                                    <strong class="me-2 text-muted small">Qualified:</strong>
                                    <div class="progress flex-grow-1" style="height: 0.4rem;">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                             th:style="'width:' + ${assessment.qualifiedCount} + '%;'"
                                             th:aria-valuenow="${assessment.qualifiedCount}"
                                             aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <strong class="ms-2 small" th:text="${assessment.qualifiedCount + '%'}"></strong>
                                </div>
                                <div class="col-md-4 text-end small text-muted">
                                    <p class="mb-0" th:text="${assessment.invitedCount + ' Invited'}"></p>
                                    <p class="mb-0" th:text="${assessment.assessedCount + ' Assessed'}"></p>
                                    <p class="mb-0" th:text="${assessment.qualifiedCount + ' Qualified'}"></p>
                                </div>
                                <div class="row text-center mb-0">
                                    <div class="col">
                                        <p class="card-text small text-muted mb-0">Exercises</p>
<!--                                        <h6 th:text="${assessment.exerciseCount}"></h6>-->
                                    </div>
                                    <div class="col">
                                        <p class="card-text small text-muted mb-0">Questions</p>
<!--                                        <h6 th:text="${assessment.questionCount}"></h6>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer bg-light d-flex justify-content-between align-items-center small text-muted" style="margin-top: -0.9rem;">
                            <div class="btn-group gap-2">
                                <a th:href="@{'/assessments/take/' + ${assessment.id} + '?preview=true'}"
                                   class="btn btn-sm btn-outline-secondary" title="Preview">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a th:href="@{'/assessments/invite/' + ${assessment.id}}"
                                   class="btn btn-sm btn-outline-secondary" title="Invite">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a href="#" class="btn btn-outline-secondary btn-sm"
                                   onclick="copyInviteLink(event, [[${assessment.id}]])" title="Copy Link">
                                    <i class="fas fa-copy"></i>
                                </a>
                            </div>
                            <small>
                                <i class="fas fa-user me-1"></i>
                                <span th:text="${assessment.createdBy.username}"></span> |
                                <span th:text="${#temporals.format(assessment.createdAt, 'yyyy-MM-dd')}"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination float-end" th:if="${totalPages > 0}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/assessments(page=${currentPage - 1}, pageSize=${pageSize}, searchQuery=${searchQuery})}">Previous</a>
                </li>

                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i} ? 'active'">
                    <a class="page-link" th:href="@{/assessments(page=${i}, pageSize=${pageSize}, searchQuery=${searchQuery})}" th:text="${i + 1}"></a>
                </li>

                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/assessments(page=${currentPage + 1}, pageSize=${pageSize}, searchQuery=${searchQuery})}">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal for Import -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel">Import Assessments from Excel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Import form -->
                <form method="post" enctype="multipart/form-data" action="/assessments/import">
                    <div class="mb-3">
                        <label for="file" class="form-label">Choose Excel File</label>
                        <input type="file" name="file" id="file" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Import</button>
                </form>
            </div>
        </div>
    </div>
</div>
