<style>
        body {
            background-color: #f8f9fa;
        }
        .drop-zone {
            border: 2px dashed #007bff;
            border-radius: 10px;
            padding: 30px;
            text-align: center;
            background-color: #E5EEFA;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .drop-zone:hover {
            background-color: #D2E2F6;
        }

    </style>


<div class="d-flex flex-column min-vh-100">

    <!-- Main Content -->
    <div class="container mt-5 flex-grow-1">
        <!-- Navigation Tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active text-primary" href="/tools">Excel to JSON</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/tools/convert_txt">TXT to JSON</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/tools/generate_exam">Generate Exam</a>
            </li>
        </ul>

        <!-- Content Section -->
        <div class="mt-5 text-center">
            <h1 class="">Convert Excel to JSON</h1>
            <p class="text-muted">Upload an Excel file and convert it to JSON format.</p>

            <!-- Form for Uploading Excel File -->
            <form method="POST" enctype="multipart/form-data" th:action="@{/tools/upload_excel}">
                <div class="drop-zone my-5" id="dropZone">
                    <p class="text-muted mb-2"><i class="bi bi-upload" style="font-size: 2rem;"></i></p>
                    <label for="fileUpload" class="btn btn-primary"> <i class="bi bi-folder"></i> Browse Files</label>
                    <input type="file" name="excelFile" class="form-control d-none" id="fileUpload" required="" multiple="">
                </div>
                <p class="mt-2 text-muted">You have uploaded <span id="fileCount" class="fw-bold">0</span> files.</p>
                <ul id="fileList" class="list-group"></ul>

                <!-- Button Group -->
                <div class="d-flex gap-2 justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary">Convert to JSON</button>
                    <a href="instruction.pdf" class="btn btn-primary" download=""><i class="bi bi-download"></i> Download Material</a>
                </div>
            </form>
            <div id="responseMessage" class="text-center mt-3"></div>
        </div>
    </div>

</div>