<!-- Thông báo lỗi -->
<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <span th:text="${errorMessage}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Thông báo thành công -->
<div th:if="${successMessage}" class="alert alert-primary alert-dismissible fade show" role="alert">
    <i class="bi bi-info-circle-fill"></i>
    <span th:text="${successMessage}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="px-5 flex-grow-1">
    <h1 class="text-center">Quizes</h1>
    <div>
        <div class="d-flex align-items-center mb-3">
            <div class="flex-fill">
                <!-- Search Form -->
                <form action="/quizes" method="get" class="d-flex w-50">
                    <!-- Correctly bind the searchQuery model attribute using Thymeleaf -->
                    <input type="text" class="form-control me-2" name="searchQuery" th:value="${searchQuery}"
                           placeholder="Search by quize name" aria-label="Search">
                    <button class="btn btn-outline-secondary me-2" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
            <div>
                <a href="/quizes/print" class="btn btn-outline-secondary me-2" target="_blank">
                    <i class="bi bi-printer"></i> Print
                </a>
                <!-- Export Button -->
                <a href="quizes/export" class="btn btn-outline-secondary me-2">
                    <i class="bi bi-file-earmark-excel"></i> Export
                </a>

                <!--Convert-->
                <a href="tools" class="btn btn-outline-secondary me-2">
                    <i class="bi bi-arrow-repeat"></i> Convert
                </a>

                <!-- Import Button that triggers modal -->
                <button class="btn btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#importModal">
                    <i class="bi bi-upload"></i> Import
                </button>

                <a href="/quizes/create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Quiz
                </a>
            </div>
        </div>
        <div class="scrollable-table">
            <table class="table table-bordered">
                <thead class="table-light" style="position: sticky; top: 0; z-index: 1;">
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Attempt</th>
                    <th>Time Start</th>
                    <th>Time End</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="quize, iterStat : ${quizes}">
                    <td class="text-center" th:text="${iterStat.index + 1}"></td>
                    <td th:text="${quize.getName()}"></td>
                    <td th:text="${quize.getDescription()}"></td>
                    <td th:text="${quize.getAttemptLimit()}"></td>
                    <td th:text="${#temporals.format(quize.getStartTime(), 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td th:text="${#temporals.format(quize.getEndTime(), 'dd-MM-yyyy HH:mm:ss')}"></td>

                    <td th:text="${quize.getQuizType()}"></td>

                    <td class="d-flex align-items-center gap-1">
                        <a th:href="@{'/quizes/edit/' + ${quize.getId()}}" class="btn btn-outline-secondary btn-sm" title="Edit">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a th:href="@{'/quizes/participants/' + ${quize.getId()}}" class="btn btn-outline-secondary btn-sm" title="Participants">
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <a th:href="@{'/quizes/detail/' + ${quize.getId()}}" class="btn btn-outline-secondary btn-sm" title="Detail">
                            <i class="bi bi-info-circle"></i>
                        </a>
                        <a th:href="@{'/quizes/delete/' + ${quize.getId()}}" class="btn btn-outline-danger btn-sm"
                           onclick="return confirm('Are you sure?')" title="Delete">
                            <i class="bi bi-trash"></i>
                        </a>

                        <!-- Nút Apply khi QuizType là OPEN -->
                        <form th:action="@{'/quizes/apply/' + ${quize.id}}" method="post"
                              th:if="${quize.getQuizType().name() == 'OPEN'}"
                              onsubmit="return confirm('Do you want to join this quiz?');">
                            <button type="submit" class="btn btn-outline-primary btn-sm d-flex align-items-center" title="Apply">
                                <i class="bi bi-caret-right-fill"></i> Apply
                            </button>
                        </form>

                        <!-- Nút Closed khi QuizType là CLOSE -->
                        <button type="button" class="btn btn-outline-secondary btn-sm d-flex align-items-center" title="Closed" disabled
                                th:if="${quize.getQuizType().name() == 'CLOSE'}">
                            <i class="bi bi-caret-right-fill"></i> Closed
                        </button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div class="row justify-content-center">
            <div class="pagination col-4 justify-content-center pe-0" th:if="${totalPages > 0}">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/quizes(page=${0}, pageSize=${pageSize}, searchQuery=${searchQuery})}"><<</a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/quizes(page=${currentPage - 1}, pageSize=${pageSize}, searchQuery=${searchQuery})}"><</a>
                    </li>

                    <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${currentPage == i} ? 'active'">
                        <a class="page-link"
                           th:href="@{/quizes(page=${i}, pageSize=${pageSize}, searchQuery=${searchQuery})}"
                           th:text="${i + 1}"></a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/quizes(page=${currentPage + 1}, pageSize=${pageSize}, searchQuery=${searchQuery})}">></a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/quizes(page=${totalPages - 1}, pageSize=${pageSize}, searchQuery=${searchQuery})}">>></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Import -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel">Import Roles from Excel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Information about the template -->
                <!--                    <div class="mb-3">-->
                <!--                        <p>Download the Excel template before uploading your file:</p>-->
                <!--                        <a href="/templates/roles.xlsx" class="btn btn-link" download>Download Role Template</a>-->
                <!--                    </div>-->
                <!-- Import form -->
                <form method="post" enctype="multipart/form-data" th:action="@{/quizes/import}">
                    <div>
                        <label for="course" class="form-label fw-bold ">Select Course</label>
                        <select id="course" name="course" class="form-select" onchange="reloadPage()">
                            <option value="">-- Select a Course --</option>
                            <option
                                    th:each="course : ${courses}"
                                    th:value="${course.name}"
                                    th:text="${course.name}"
                            >
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="file" class="form-label">Choose Excel File</label>
                        <input type="file" name="file" id="file" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Import</button>
                </form>
            </div>
        </div>
    </div>
</div>