<div class="px-5 flex-grow-1">
  <h1 class="text-center">Participants</h1>
  <div>
    <div class="d-flex align-items-center mb-3">
      <div class="flex-fill">
        <!-- Search Form -->
        <form action="/quizes" method="get" class="d-flex w-50">
          <!-- Correctly bind the searchQuery model attribute using Thymeleaf -->
          <input type="text" class="form-control me-2" placeholder="Search participant's name"
                 id="searchQuery" name="searchQuery" th:value="${searchQuery}">
          <button class="btn btn-outline-secondary" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <div class="col-md-6 text-end">
        <a href="/quizes/print" class="btn btn-outline-secondary me-2" target="_blank" title="Print">
          <i class="bi bi-printer"></i> Print
        </a>
        <!-- Export Button -->
        <a href="quizes/export" class="btn btn-outline-secondary me-2">
          <i class="bi bi-file-earmark-excel"></i> Export
        </a>

      </div>
    </div>
    <div class="scrollable-table">
      <table class="table table-bordered">
        <thead style="position: sticky; top: 0; z-index: 1;">
        <tr>
          <th class="text-center">#</th>
          <th>Name</th>
          <th>Time Apply and Record</th> <!-- Time join and time do -->
          <th>Attempt Used</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="participant, iterStat : ${participants}">
          <td class="text-center" th:text="${iterStat.index + 1}"></td>
          <td th:text="${participant.getUser.getFirstName() + ' ' +participant.getUser.getLastName()}"></td>
          <td></td>
          <td th:text="${participant.getAttemptUsed()}"></td>
          <td>
            <a th:href="@{/test-sessions/participant/{id}(id=${participant.id})}"
               class="btn btn-outline-secondary btn-sm" title="TestSession">
              <i class="bi bi-info-circle"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="row justify-content-center">
      <div class="pagination col-4 justify-content-center pe-0" th:if="${totalPages > 0}">
        <ul class="pagination">
          <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/quizes(page=${0}, pageSize=${pageSize}, searchQuery=${searchQuery})}"><<<</a>
          </li>

          <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/quizes(page=${currentPage - 1}, pageSize=${pageSize}, searchQuery=${searchQuery})}"><<</a>
          </li>

          <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
              th:classappend="${currentPage == i} ? 'active'">
            <a class="page-link"
               th:href="@{/quizes(page=${i}, pageSize=${pageSize}, searchQuery=${searchQuery})}"
               th:text="${i + 1}"></a>
          </li>

          <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
            <a class="page-link"
               th:href="@{/quizes(page=${currentPage + 1}, pageSize=${pageSize}, searchQuery=${searchQuery})}">>></a>
          </li>

          <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
            <a class="page-link"
               th:href="@{/quizes(page=${totalPages - 1}, pageSize=${pageSize}, searchQuery=${searchQuery})}">>>></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Import -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importModalLabel">Import Roles from Excel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Information about the template -->
        <!--                    <div class="mb-3">-->
        <!--                        <p>Download the Excel template before uploading your file:</p>-->
        <!--                        <a href="/templates/roles.xlsx" class="btn btn-link" download>Download Role Template</a>-->
        <!--                    </div>-->
        <!-- Import form -->
        <form method="post" enctype="multipart/form-data" action="/quizes/import">
          <div class="mb-3">
            <label for="file" class="form-label">Choose Excel File</label>
            <input type="file" name="file" id="file" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Import</button>
        </form>
      </div>
    </div>
  </div>
</div>
