<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Quizs</title>
    <link rel="stylesheet" href="/css/print.css">
</head>
<body>
<h1>Quiz List</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Attempt</th>
        <th>Time Start</th>
        <th>Time End</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through quizeGroups and display them -->
    <tr th:each="quize, iterStat : ${quizes}">
        <td class="text-center" th:text="${iterStat.index + 1}"></td> <!-- Start numbering from 1 -->
        <td th:text="${quize.name}"></td>
        <td th:text="${quize.getDescription()}"></td>
        <td th:text="${quize.getAttemptLimit()}"></td>
        <td th:text="${#temporals.format(quize.getStartTime(), 'dd-MM-yyyy HH:mm:ss')}"></td>
        <td th:text="${#temporals.format(quize.getEndTime(), 'dd-MM-yyyy HH:mm:ss')}"></td>
        <td th:text="${quize.getQuizType()}"></td>
    </tr>
    </tbody>
</table>

<script>
    // Automatically trigger the browser's print dialog
    window.onload = function() {
        window.print();
    };
</script>
</body>
</html>
